body{
  background-image: url(/img/hr-img.png) ;
  background-repeat: repeat-x;
  background-position: 5% 10%;
  
}
#headerImgs{
  float: right;
}
#breaklineImg{

}

#mainPageInfo {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
align-items: center;
}
#linedPage{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
footer{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}
#smallLogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
button {
  float: right;
}